* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} 
html{
    scroll-behavior: smooth;
}

body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    min-height:  100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(bmk1.jpg);
    background-size: cover;
    background-position: center;
    color: white;
     z-index: 1;
    
    
}
.logo{
    font-size: 45px;
    color: #fff;
    text-decoration: none;
    font-weight: 650;
    width: 140px;
    
}
.logo span{
    color: #ff004f;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: inherit;
    font-size: 18px;
    position: relative;
}
nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

.navbar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
    transition: .3s;
}
.navbar a:hover{
             color: blue;    

}

.container {
padding: 10px 10%;    
}
nav{
    display: flex;
    align-items: wrap;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
     font-weight: 200;
}
.header-text h1{
    font-size: 50px;
    margin: 20px;
    text-align: justify;
}
.header-text h1 span{
    color: #fff;
}
.header-text p span{
    font-weight: 550;
    color:  #ff004f;
}
/*----------------about-----------------*/

#about{
    padding: 80px 0;
    color: #ababab;
    
}
    

.about-col-2 {
    flex-basis: 35%;
    
} 

.about-col-2 img{
   width: 50%; 
    height: auto;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: auto;
}
.about-col-1{
    flex-basis: -60%; 
    position: absolute;
}
.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.about-col-1 p span{
    color: #ff004f;
    font-size: 25px;
    font-weight: 550;
}
.about-col-1 p{
    text-align:justify;
    
}

/*---------------------services-------------------*/
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    
}

.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}

/*-------------------works--------------*/

#works{
    padding: 60px 0;
}
.work{
    border-radius: 10px;
   position: relative;
    overflow: hidden;
}
.work-list{display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;}

.work img{
    width: 100%; /* Adjust the percentage as needed */
    height: auto;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
    
}
.layer h3{
    margin-bottom: 20px;
    font-weight: 500;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width:60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff004f;
}
/*------------------contact-------------*/
#contact{
    padding: 60px 0;
}
.rows {
    display: flex;
    justify-content: space-between; /* To move .contact-right to the right corner */
}
.contact-right {
    flex-basis: 55%;
}
.contact-left {
    flex-basis: 40%; /* Adjust the width as needed */
}

.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);   
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
.btn-2{
    display: inline-block;
    background: #FF004F;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
    position: absolute;
}
.copyright i{
    color: #ff004f;
}
/*----------small screen--------------*/
nav .fas {
    display: none;
}


@media(max-width: 700px){
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    
    .header-text h1{
        font-size: 25px;
    }  
    nav .fas {
    display: block;
    font-size: 15px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .subtitle{
        font-size: 30px;
        margin-top: 60px;
    }
    .about-col-1 p{
        font-size: 12px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2 img{
     margin-bottom: 100px;
    }
    .about-col-2{
        font-size: 40px;
       
    }
  
    .rows {
    display: flex;
    flex-wrap: wrap;
}

.contact-left,
.contact-right {
    flex-basis: 100%; 
}

    .copyright{
        font-size: 14px;
    }
}

